.promo {
	height: 100vh;
	padding-top: 30vh;
	position: relative;

	&-btn {
		animation: phoneBtn 2.5s ease infinite;
		width: rem(110);
		display: block;

		position: absolute;
		bottom: rem(20);
		left: 50%;
		transform: translate(-50%, 0);

		img {
			max-width: 100%;
		}
	}

	// .promo__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(80);

		@media (max-width:$tablet) {
			flex-direction: column-reverse;
		}
	}

	// .promo__content

	&__content {}

	// .promo__content-title

	&__content-title {
		font-size: 32px;
		margin-bottom: rem(10);
	}

	// .promo__content-descr

	&__content-descr {
		margin-bottom: 10px;
	}

	// .promo__content-wrapp

	&__content-wrapp {
		display: flex;
		align-items: center;
		gap: rem(10);

		div {
			flex: 1 1 auto;
			height: 2px;
			background-color: #fff;
		}
	}
}